body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

/* アイコンを設定してください*/
.container {
  display: flex; /* 水平方向に要素を並べる */
  align-items: center; /* 中央揃えにする */
  flex-direction: column; /* 要素を縦に並べる */
}

/* */
.image-text {
  margin-bottom: 10px; /* 画像との間隔 */
  color: black; /* テキストの色 */
  font-size: 23px;
}

/* 円のスタイル */
#imageContainer {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

/* 選択された画像のスタイル */
#selectedImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ファイル選択用のinputを非表示にする */
#fileInput {
  display: none;
}

/*次へボタン*/
.next-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: rgb(255, 139, 197);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

/*スキップボタン*/
.skip-button {
  position: absolute; /* 絶対位置指定 */
  right: 250px; /* 右から20pxの位置 */
  bottom: 70px; /* 下から20pxの位置 */
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
