<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>動物用専用SNSへようこそ</h1>

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
    {% if form.email.errors %}
        {{form.email.errors}}
    {% endif %}

    <form action="{% url 'animit:sign_up_base' %}" method="post">
        {% csrf_token %}
        <table>
            {% for field in form%}
                {%if field.name in fields%}
                    <tr>
                        <th>{{field.name}}<th/>
                        <th>{{field}}</th>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <tr><td colspan='2'><input type="submit" value="Submit"></td></tr>
    </form>
</body>
</html>