<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>動物専用SNS Animitへようこそ</h1>
    <p>あなたが登録したメールアドレスに認証コードを送信しました。
        メッセージ内の6桁の認証コードを入力してください。
        </p>

    <!-- {% if custom_error %} -->
        {{custom_error}}
    <!-- {% endif %}  -->

    {% if form.authentication_code.errors %}
        <p>{{form.authentication_code.errors}}</p>
    {% endif %}

    <form action="{% url 'animit:sign_up_certification' %}" method="post">
        {% csrf_token %}
        <table>
            {% for field in form%}
                {%if field.name in fields%}
                    <tr>
                        <th>{{field.name}}<th/>
                        <th>{{field}}</th>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <!-- <input type="number" name="authentication_code" min="100000" max="999999"> -->
        <input type="submit" value="submit">
    </form>

    <!-- <script>
        authentication_code = document.getElementById('id_authentication_code')
        authentication_code.addEventListener("change", (event) => {
            console.log(authentication_code.value);
        })
    </script> -->
</body>
</html>